# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
.venv/

# Jupyter
.ipynb_checkpoints/

# Cache
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Large Datasets
datasets/

# Production reference backup
backup_GrayMUG/

# Output Cache
outputs/**/*.csv

# Large Images (선택)
# outputs/**/*.png

# env
.env    